.gradient {
			height: 50px;
		    background: #E65A21; /* For browsers that do not support gradients */
		    background: -webkit-linear-gradient(#ffffff, #E65A21, #ffffff); /* For Safari 5.1 to 6.0 */
		    background: -o-linear-gradient(#ffffff, #E65A21, #ffffff); /* For Opera 11.1 to 12.0 */
		    background: -moz-linear-gradient(#ffffff, #E65A21, #ffffff); /* For Firefox 3.6 to 15 */
		    background: linear-gradient(#ffffff, #E65A21, #E65A21, #E65A21, #ffffff); /* Standard syntax <-- Normal set for gradient*/
		}	

div.transition {
    width: 100px;
    height: 100px;
    background: red;
    -webkit-transition: width 1s linear; /* For Safari 3.1 to 6.0 */
    transition: width 1s linear;
}

div.transition:hover {
    width: 100%;
}