body{
	margin:0;
	background-image: url(../image/dharma-shala.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
}

.nav-bar{
	margin: 0;
	width: 100%;
	background-color:#FA1B41;
}
.nav-bar a{
	color:white;
	text-decoration: none;
}
