body{
	margin:0;
}
header{
	height: 30px;
	background-color: #3b5998;
}
#content{
	height: 90%;
}
/* CHAT APP */
#chat{
	margin-left: 130px;
	height: 280px;
	width: 220px;
	border: 2px solid black;
	display: inline-block;
	vertical-align: top;
}
#chatHeader{
	height: 20px;
	background-color: #3b5998;
	color: white;
}
#chatContent{
	height: 235px;
	overflow-y: auto;
}
#chatFooter{
	height: 23px;
}
#chatContent span{
	background-color: #E0EDFF;
	border-radius: 10px;
	clear:both;
   	float:right;
   	padding: 4px;
}
/* /CHAT APP */

footer{
	height: 10px;
	bottom:0px;
    background: black; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ffffff, black, #ffffff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffffff, black, #ffffff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ffffff, black, #ffffff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffffff, black, black, black, #ffffff); /* Standard syntax <-- Normal set for gradient*/

}

/* Contacts */
#contacts{
	margin-left: 430px;
	height: 100%;
	width: 220px;
	border: 2px solid black;
	display: inline-block;
}
#contactsHeader{
	height: 20px;
	background-color: #3b5998;
	color: white;
}
#contactsContent{
	height: 80%;
	overflow-y: auto;
}
#contactsFooter{
	height: 23px;
	bottom: 0;
}
/* /Contects */

.error{
	border: 1px solid red;
}