body{
	margin:0;
}
header{
	height: 82px;
	background-color: #66ccff; /*#FCD9DD;*/ /*#3b5998;*/
}
video {
	   transform:rotate(90deg);
	   transform: scale(-1, 1);
	}
@media only screen and (min-width: 560px){
	video {
	   transform:rotate(0deg);
	   transform: scale(-1, 1);
	}
}
#content{
	height: 90%;
	text-align: center;
}
#content input{
	padding: 5px;
	margin: 5px;
	border: 2px solid black;
	border-radius: 5px;
}
/* CHAT APP */
#chat{
	margin-left: 130px;
	height: 280px;
	width: 220px;
	border: 2px solid black;
	display: inline-block;
	vertical-align: top;
}
#chatHeader{
	height: 20px;
	background-color: #66ccff; /*#FCD9DD;*/ /*#3b5998;*/
	color: red;
}
#chatContent{
	height: 235px;
	overflow-y: auto;
	background-color: #EDEEF1;
}
#chatFooter{
	height: 23px;
}
#chatContent span{
	background-color: #FEFEFE;
	border-radius: 10px;
	clear:both;
   	float:left;
   	padding: 5px 8px 4px;
   	margin: 5px;
}
.ownMsg{
	background-color: #E0EDFF !important;
	float:right !important;
}
/* /CHAT APP */

footer{
	height: 10px;
	bottom:0px;
    background: black; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ffffff, black, #ffffff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffffff, black, #ffffff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ffffff, black, #ffffff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffffff, black, black, black, #ffffff); /* Standard syntax <-- Normal set for gradient*/

}

/* Contacts */
#contacts{
	margin-left: 430px;
	height: 100%;
	width: 220px;
	border: 2px solid black;
	display: inline-block;
}
#contactsHeader{
	height: 20px;
	background-color: #66ccff; /*#FCD9DD;*/ /*#3b5998;*/
	color: red;
}
#contactsContent{
	height: 80%;
	overflow-y: auto;
}
#contactsFooter{
	height: 23px;
	bottom: 0;
}
/* /Contacts */

.error{
	border: 1px solid red;
}

.pink{
	background-color: #FCD9DD !important;
}
.nextel{
	background-color: #e05206 !important;
}